.hidden {
  display: none;
}

/* main div */
#content-wrapper {
    width: 800px;
    margin: 0px auto 0px auto;
}

/* menu */
.nav li a {
  color: #888;
}
.nav li a:hover {
  background-color: #EEE;
  cursor: pointer;
}
.active a {
  color: #000;
  font-weight: bold;
}

/* map container */
#map-container {
  border: 1px solid #ddd;
  border-top: 0;
/*  border-bottom: 0;*/
  margin: 0;
}
.mainSVG {
	display: block;
}

/* tooltip styling */
#tooltip {
  position: absolute;
  padding: 8px;
  background-color: #222;
  opacity: 0.9;
  color: #e5e5e5;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 12px;
}
#tooltip p {
  text-align: left;
  padding: 0;
  margin: 0;
}
#tooltip a {
  color: rgb(55, 145, 166);
  text-decoration: none; 
}
#tooltip a:hover {
  color: #FFF;
}
.tooltip-name {
  font-size: 14px;
  font-weight: bold;
}
.tooltip-country {
  font-size: 12px;
  color: #58A4B0; 
}
.tooltip-section {
  margin-top: 7px;
}
.tooltip-section div {
  display: inline-block;
  vertical-align: top;
}
.tooltip-close {
  width: 15px;
  margin: 5px auto 0px auto;
  font-size:15px;
}
.tooltip-close a i {
  color: #e5e5e5;
  cursor: pointer;
}

/* map details */
#map-instructions {
  padding: 5px 10px;
  background-color: #444;
	border: 1px solid #444;
  color: #CCC;
  font-size: 12px;
}
#map-description {
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
}
.detail-title {
  font-weight: bold;
}
.detail-bullets li {
  margin-top: 10px;
}
.refresh {
  cursor: default;
}






